{% extends 'temp/main.html' %}
{% block base %}
<html>
    <head><title>login</title></head>
    <form method="POST">
    <body align="center">

        
        <table align="center">
            
            <tr>
                <td>user name</td>
                <td><input type="text" name="sn"></td>
                </tr>
                <tr>
                    <td>password</td>
                    <td><input type="password" name="pw"></td>
                    <tr>
                        <td></td>
                        <td><input type="submit" name="btn" value="LOGIN"</td>
                </tr>
            
            
        </table>

    </body>
</form>
</html>
{% endblock %}